<h1>Bienvenido a la plataforma</h1>

<h3><%= link_to 'cursos', controller: 'courses' %></h3>
<h3><%= link_to 'profesores', controller: 'teachers' %></h3>
<h3><%= link_to 'estudiantes', controller: 'students' %></h3>
<h3><%= link_to 'secciones', controller: 'sections' %></h3>
