<p>
  <strong>NRC:</strong>
  <%=@course.nrc %>
</p>

<p>
  <strong>Sigla:</strong>
  <%=@course.sigla %>
</p>

<p>
  <strong>Nombre Curso:</strong>
  <%= @course.nombreCurso %>
</p>
<p>
  <p>
    <strong>profesores</strong>
    <%#= @course.nombreCurso %>
  </p>
